body {
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	background: #000000;
}

.card {
	position: relative;
	width: 300px;
	height: 400px;
	background: #262626;
	overflow: hidden;
}

input, .toggle {
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 20px;
	right: 20px;
	outline: none;
	z-index: 10;
}

input {
	opacity: 0;
}

input:hover {
	background: #E57E3D;
	cursor: pointer;
}

input:hover ~ .toggle {
	background: #E57E3D;
	color: #ffffff;
}

.toggle {
	pointer-events: none;
	border-radius: 50%;
	background: #ffffff;
	transition: all .5S;
	text-align: center;
	line-height: 50px;
	font-size: 36px;
	box-shadow: 0 0 0 0px #E57E3D;
}

input:checked ~ .toggle {
	box-shadow: 0 0 0 500px #E57E3D;
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}

.details, .imgbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.details {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
	padding-bottom: 65px;
	z-index: 11;
	pointer-events: none;
	-webkit-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
	opacity: 0;
}

input:checked ~ .details {
	opacity: 1;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.details h2 {
	text-transform: uppercase;
	margin-bottom: 5px;
	color: #ffffff;
}

.details p {
	margin: 0;
	padding: 0;
	color: #ffffff;
}

